.outer-container {
  width: 45%; /* Set the desired width */
  margin: 0 auto; /* Center the element horizontally */
  /* Add additional styling if needed */
}

.search-bar input {
  width: 80%;
  height: 30px;
  border-radius: 10px;
}

.search-bar {
  margin: 25px auto 25px auto;
  display: flex;
  justify-content: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-margin-collapse: collapse;
}
